@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Roboto", sans-serif !important;
    outline: none !important;
    cursor: auto;
  }

body {
    font-family: "Roboto", sans-serif;
    background-color: #FAFAFA;

    height: 100vh;
    width: 100%;
    cursor: auto;
}


/* ------------------Topo de Todas Telas----------------------*/
.topo {
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    width: 100%;
    height: 69px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;

    z-index: 99999;
    }
.topo p {
    width: 176px;
    height: 43px;
    left: 632px;
    top: 13px;

    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}
button {
    border: none;
    cursor: pointer;
}



/* -------------------Tela 1--------------------------*/
.tela01 {
    margin-top: 69px;
    padding-top: 77px;
    display: flex;
    flex-direction: column;
}


/* User Quizz - Sem quizz*/
.tela01 .criarQuizz {
    width: 80%;
    height: 181px;
    left: 194px;
    top: 146px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    align-items: center;
    
    }

.criarQuizz.displaynone{
    display: none;
}

.tela01 .criarQuizz p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
    text-align: center;
    margin: 0 auto 0 auto;
}
.tela01 .criarQuizz button {
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;

    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    cursor: pointer;
    margin: 0 auto 0 auto;
}

/* User Quizz - Com quizz*/
.userQuizz{
    width: 80%;
    height: 221px;
    left: 194px;
    top: 146px;
    border-radius: 5px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.topo-userQuizz{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.userQuizz .topo-userQuizz p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto 10px auto 10px;
    
    color: #000000;   
}

.adicionarMais{
    color: #EC362D;
    font-size: 30px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: auto;
    margin: auto 10px auto 10px;
}

.seusQuizzesRenderizados{
    display: flex;
    width: 100%;
    height: 181px;
    justify-content:space-between;
    align-items: center;
    overflow-x: scroll;
}

.userQuizz .display-userQuizzes{
    position: relative;
    width: 340px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    cursor: pointer;

}

.userQuizz .display-userQuizzes p{
    position: absolute;

    width: 90%;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    color: white;
    bottom: 0;
    margin: 20px auto 20px auto;
    z-index: 1;
}

.display-userQuizzes img{
    width: 250px;
    height: 140px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.gradiente-userQuizzes{
    position: absolute;
    width: 250px;
    height: 140px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, black 100%);
}


/*.tela01 p não funcionando como deveria funcionar(margin-top)---mudando para .tela01 nh*/
.tela01  p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

    margin-left: 10%;
    margin-top: 77px;
}

/* Todos os Quizz */
.tela01 .todosOsQuizzes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    justify-items: center;
    
    width: 80%;
    height: 450px;
    margin-left: 10%;
    margin-top: 10px;
    overflow-y: scroll;
    
}
/*[TUTOR] tive que repetir 2 classes com a msm coisa*/
.tela01 .todosOsQuizzes .imagen {
    width: 340px;
    height: 181px;
    display: flex;
    position: relative;
    margin: 20px auto 20px auto;
    cursor: pointer;

}
.tela01 .todosOsQuizzes img {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    opacity: 1;
}

.gradiente{
    position: absolute;
    width: 340px;
    height: 181px;
    border-radius: 5px;
    z-index: 2;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, black 100%);
}

.tela01 .todosOsQuizzes p {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    width: 90%;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    color: white;
    
}

/* -------------------Tela 2--------------------------*/

.tela02{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

#titulo-quizz{
    position: relative;
    
    background: black;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 230px;
    margin-top: 40px;

    overflow: hidden;
}

#titulo-quizz p{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    margin-bottom: 50px;
    
    color: #FFFFFF;   
}

#titulo-quizz img{
    opacity: 0.3;
    width: 100%;

}

.bloco{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    width: 759px;
    height: fit-content;
    margin-top: 50px;

}

.blocoDeCadaPergunta{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 20px;

    width: 760px;
    height: fit-content;
    margin-bottom:50px;
}

.pergunta{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 688px;
    height: fit-content;
    margin-top: 30px;

}

.pergunta p{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    word-break: normal;
    margin: 20px;

    color: #FFFFFF;

}

.respostas{
    position: relative;

    display: flex;
    display: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    width: 688px;
    height: fit-content;
    margin-top: 15px;
    margin-bottom: 30px;
    
}

.resposta p{
    position: relative;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    word-break: break-all;
    margin: 5px;

    color: #000000;

    cursor: pointer;

}

.resposta img{

    width: 330px;
    height: 175px;


    cursor: pointer;

}

.resultadoFinal{
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 8px;

    position: relative;  
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
  
    width: 759px;
    height: fit-content;
    margin-top: 70px;
    
}

.topo-resultado{
    background: #ec362d;

    width: 759px;
    height: 430px;
    margin: 60px auto auto auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 727px;
    height: fit-content;
    margin-top: 20px;
}

.topo-resultado p{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    word-break: break-all;
    margin: 20px;

    color: #FFFFFF;
        
}

.bloco-resultado{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;


    width: 650px;
    height: 100%;
    margin: 20px;
}

.bloco-resultado p{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    text-align: justify;
    word-break: normal;
    margin: 20px;

    color: #484848;
}

.bloco-resultado img{

    width: 364px;
    height: 273px;
    margin: 20px auto 20px 20px;

}

.naoSelecionada{
    opacity: 0.3;
}


/* -------------------Botões-------------------------*/
#reiniciar{

    background-color: #EC362D;
    border: none;
    border-radius: 15px;

    position: relative;
    width: 260px;
    height: 52px;
    margin: 50px auto 5px auto;
    bottom: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: #FFF5F4;

    cursor: pointer;
    
}

#reiniciar.clicado{
    background-color: white;
}

#voltar{
    background-color: transparent;
    border: none;

    position: relative;
    width: 220px;
    bottom: 0;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: #818181;

    cursor: pointer;
    
}
/*------------------------------------------*/


/* -------------------Tela 3--------------------------*/

/* ----------Tela 3 - 1 de 4 ----------*/

.tela03 {
    height: 100vh;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;

}
.tela03 .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela03 p {
    width: 195px;
    height: 23px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000000;
}
.tela03 .inputs {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-top: 27px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 21px;
    padding-bottom: 11px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    
}
.tela03 input {
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
}
.tela03 input::placeholder {
    height: 22px;
    left: 459.16px;
    top: 228px;

    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;

    color: #BABABA;
}
.tela03 button {
    width: 368px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    margin-top: 85px;

    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #FFF5F4;
}

/*------------------------------------------*/


/* ----------Tela 3 - 2 de 4 ----------*/

.tela03Perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.telao3Perguntas .conteudo .ioniconsP{
    display: flex;
    justify-content: space-between;
    

}
.tela03Perguntas .conteudo ion-icon{
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-left: 440px;
   
}

.tela03Perguntas > p {
    margin-bottom: 36px;

}

.tela03Perguntas .conteudo {
    background-color: #FFFFFF;
    height: fit-content;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 21px;
    padding-bottom: 11px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.tela03Perguntas input {
    margin-top: 12px;
    margin-bottom: 0px;
}
.tela03Perguntas .conteudo {
    align-items: flex-start;
    margin-bottom: 24px;
    
}
.tela03Perguntas .conteudo  p {
    margin-top: 25px;
    margin-bottom: 10px;
    display: inline;
}
/*------------------------------------------*/


/* ----------Tela 3 - 3 de 4 ----------*/

.tela03Niveis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela03Niveis p {
    width: 100%;
    margin-bottom: 43px;
}
.tela03Niveis .conteudo p {
    display: inline;
    margin-bottom: 10px;
}
.tela03Niveis .conteudo {
    background-color: #FFFFFF;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 21px;
    padding-bottom: 11px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    margin-bottom: 24px;

    
}
.tela03Niveis .conteudo .ioniconsP  {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    
}
.tela03Niveis .conteudo .ioniconsP p {
    display: inline;
}
.tela03Niveis .conteudo  ion-icon {
    cursor: pointer;
}
.tela03Niveis button {
    margin-top: 74px;
    margin-bottom: 50px;
}
/*------------------------------------------*/


/* ----------Tela 3 - 3 de 4 ----------*/
.tela03Pronto {
    height: fit-content;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela03Pronto p {
    position: absolute;
    margin-top: 71px;
    margin-bottom: 46px;
    width: 100%;
    color: #FAFAFA;
    margin: 150px auto 0 auto;
}
.tela03Pronto :nth-child(3){
    margin-top: 45px;
    cursor: pointer;
    width: 220px;
    height: 44px;
}
.tela03Pronto :nth-child(4) {
    margin-top: 10px;
    background-color: #FAFAFA;
    color: #818181;;
    border: none;
    cursor: pointer;
    width: 220px;
    height: 44px;
}
/*------------------------------------------*/





/* ---------------Display None------------------------*/

.displaynone {
    display: none;
}


/* --------------------------------------------------*/

@media (max-width: 1100px) {
    /* Todas Telas */
    .topo p{
        margin-left: 44%;
        margin-right: 44%;
        }

    /* Tela 2 */

    .blocoDeCadaPergunta{
        width: 80vw;
        justify-content: center;
    }

    .pergunta{
        width: 70vw;
    }

    .pergunta p{
        font-size: 100%;
    }

    .respostas{
        width: 70vw;
    }

    .resposta p{
        font-size: 100%;
    }

    .resposta img{
        width: 100%;
        height: 100%;
    }

    .resultadoFinal{
        width: 80vw;
    }

    .topo-resultado{
        width: 70vw;
    }

    .topo-resultado p{
        font-size: 100%;
    }

    .bloco-resultado{
        width: 80vw;
    }

    .bloco-resultado p{
        font-size: 100%;
        word-break: break-all;
    }




    /* Tela 3 */
    .tela03 input {
        max-width: 350px;
    }
    .tela03Perguntas .conteudo ion-icon{
        margin-left: 225px;
       
    }

    /* Tela 3 */
    .tela03 input {
        width: 375px;
    }

    
    
    

}


































