@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #FAFAFA;

    width: 100%;
    height: 100%;
}


.topo {
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    width: 100%;
    height: 69px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;

    z-index: 99999;
    }
.topo p {
    width: 176px;
    height: 43px;
    left: 632px;
    top: 13px;

    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #FFFFFF;
}


.conteudo {
    margin-top: 69px;
    padding-top: 77px;


    display: flex;
    flex-direction: column;
}
.conteudo .criarQuizz {
    width: 80%;
    height: 181px;
    left: 194px;
    top: 146px;
    border: 1px dashed #D5D5D5;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.conteudo .criarQuizz p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
}
.conteudo .criarQuizz button {
    width: 151px;
    height: 40px;
    left: 645px;
    top: 254px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    margin-top: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    cursor: pointer;
}

/*.conteudo p não funcionando como deveria funcionar(margin-top)---mudando para .conteudo nh*/
.conteudo :nth-child(2) {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

    margin-left: 10%;
    margin-top: 77px;
}

.conteudo .todosOsQuizzes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    background-color: aqua;
}
/*[TUTOR] tive que repetir 2 classes com a msm coisa*/
.conteudo .todosOsQuizzes .imagen {
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(image.png);
    border-radius: 5px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.conteudo .todosOsQuizzes img {
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(image.png);
    border-radius: 5px;
}
/*arrumar a transparencia entre texto-imagen*/
.conteudo .todosOsQuizzes p {
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    background-color:rgba(0, 0, 0, 0.4);
    
}

.testeTamanho {
    background-color: green;
}


/* Tela 2 */

/* Body da Tela 2*/
.tela02{

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

/* Título dos Quizzes */
#titulo-quizz{

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/background-titulo.png);
    background-position: center;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 227px;
    margin-top: 69px;
    
}

#titulo-quizz p{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    
    color: #FFFFFF;   

    
}

/* Seção Principal */
.tela02 main{
    
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

    width: 70%;
    top: 300px;
    margin-left: 15%;
    margin-right: 15%;

}

/* Seção do bloco que contém as perguntas e respostas*/
.bloco{

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;

    width: 759px;
    height: 676px;
    margin: 45px auto auto auto;
    
}

.pergunta{

    background-color: #434CA0;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 688px;
    height: 138px;  
    margin-top: 10px;

}

.pergunta p{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    
    color: #FFFFFF;
    
}

.respostas{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    width: 688px;
    height: 455px;
}

.respostas p{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #000000;

    cursor: pointer;

}

.respostas img{

    position: relative;

    width: 329.91px;
    height: 175.2px;

    cursor: pointer;

}

.resultado{
    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 18px;

    width: 759px;
    height: 430px;
    margin: 60px auto auto auto;

}

.topo-resultado{
    
    background: #EC362D;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 727px;
    height: 99px;
    margin-top: 20px;

}

.topo-resultado p{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    
    color: #FFFFFF;
        
}

.bloco-resultado{

    
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    
    width: 650px;
    height: 100%;
    margin-bottom: 20px;

}

.bloco-resultado p{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 132%;
    
    color: #484848;

}

.bloco-resultado img{

    position: relative;
    width: 364px;
    height: 273px;

}


/* Seção dos botões */
#reiniciar{

    background-color: #EC362D;
    border: none;
    border-radius: 15px;

    position: relative;
    width: 259.57px;
    height: 52px;
    margin: 60px auto auto auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: #FFF5F4;

    cursor: pointer;
    
}

#voltar{
    background-color: transparent;
    border: none;

    position: relative;
    width: 219.64px;
    height: 44px;
    margin: 20px auto 30px auto;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: #818181;

    cursor: pointer;
    
}


.displaynone {
    display: none;
}

@media (max-width: 1100px) {
    /* Tela 1 */
    .testeTamanho {
        background-color: #EC362D;
    }
    .conteudo .criarQuizz{
        width: 92%;
        margin-left: 4%;
    } 
    .conteudo :nth-child(2) {
        margin-left: 4%;
    }
    .conteudo .todosOsQuizzes {
        width: 92%;
        margin-left: 4%;
        flex-direction: column;
        align-items: center;
    }

    /* Tela 2 */

    .tela02{
        min-width: 375px;
    }

}